

<style>
body {
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  background-image: url('../static/background1.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}

.img_sau {
  position:fixed;
  left: 80px;
  top: 20px;
}


.img_vam {
  position:fixed;
  right: 10px;
  top: 10px;
  
}


.footer {
  position: fixed;
  left: -30;
  bottom: -30;
  width: 100%;
  background-color: rgba(95, 95, 95, 0);
  color: white;
  text-align: center;
}


div{
  margin: 30px;

}

h1 { font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333; }


.btn-2 {
  background-color: #3f3f3f9f;
}
.btn-2 .round {
  background-color: #00325cc5;
}

a {
  text-decoration: none;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  padding: 22px 63px 22px 33px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
a span {
  position: relative;
  z-index: 3;
}
a .round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  position: absolute;
  right: 6px;
  top: 8px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 2;
}
a .round i {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 50%;
  margin-left: -8px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.txt {
  font-size: 18px;
  line-height: 1.45;
}

.type-1 a:hover {
  padding-left: 58px;
  padding-right: 38px;
}
.type-1 a:hover .round {
  width: calc(100% - 12px);
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
.type-1 a:hover .round i {
  left: 12%;
}

.center {
  margin: auto;
}
</style>



<div>
  <h1>Ortalamanızı hesaplamak istediğiniz sınıfı seçiniz</h1>
</div>

<div class="type-1">

  

  <div >
    <a href="ort6.html" class="btn btn-2">
      <span class="txt">6. Sınıf Ortalaması</span>
      <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>

  <div >
    <a href="ort7.html" class="btn btn-2">
      <span class="txt">7. Sınıf Ortalaması</span>
      <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>

  <div>
    <a href="ort9.html" class="btn btn-2">
      <span class="txt">9. Sınıf Ortalaması</span>
      <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>

  <div>
    <a href="ort10.html" class="btn btn-2">
      <span class="txt">10. Sınıf Ortalaması</span>
      <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>

  <div>
    <a href="ort11.html" class="btn btn-2">
      <span class="txt">11. Sınıf Ortalaması</span>
      <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>
</div>



  <div class="img_sau">
   
      <img  alt="W3Schools" src="../static/sau_logo.png" width="11%">
     
  </div>

  <div class="img_vam">
    
      <img  alt="W3Schools" src="../static/vam_logo.png" width="350px" >
      
  </div>
